body{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    background: rgb(145,114,82);
    background: linear-gradient(90deg, rgba(145,114,82,0.9934567577030813) 0%, rgba(210,166,121,1) 50%, rgba(115,77,38,1) 100%);
}

}
#instructions{
    padding-top: 5px;
    color:#5c508a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lead{
    padding: 20px;
}
#Intro{
    margin-top: 180px;
    padding-left:20px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
#game{
    margin: auto;
    width:800px;
    height: auto;
}
#title{
    color: white;
    font-size: 50px;
    font-style: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
}
h3{
    color:white;
    font-style:italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}
h4{
    color: white;
    font-style:italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    font-size: 20px;
    text-align: center;
}
h5{
    color: white;
    font-style:italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    font-size: 20px;
    text-align: center;
}
#housing{
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url("pregnancy.jpeg");
    background-position:85%80% ;
    background-size: cover;
    border-radius: 20px;

}
#icon{
    height: 50px;
  width: 50px;
  background-image: url("profile.avif");
  background-size: 130%;
  border-radius: 50%;
  display:flex;
}
#time-score{
    display: flex;
    color:bisque;
    width: 400px;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
title{

}


h1 {
    background-color: #9c94b8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header{
    background-color: #9c94b8;


}

.bg-secondary{
    background-color: #9c94b8;

}

.card{
    background-color: #947aae;
    box-shadow: 5px 10px #888888;
}